*{
	padding: 0;
	margin:0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background:#efefef;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.site-welcome{
	display: none;
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width:100%;
	background:#756b6b;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.site-welcome.active{
	display: flex;
}
.loading::after,.loading::before{
	content:'';
	position:absolute;
	width: 0px;
	height: 0px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	border-radius:50%;
	background:black;
	animation: s 1s linear infinite;
	z-index: 1;
}
.loading::after{
  animation-delay:1.5s;

}
@keyframes s{
  0%{
    width:0;height:0;opacity:1;
  }
  100%{
     width:100px;height:100px;opacity:0;
  }
}
[data-x].offset{
	transform: translateY(150px);
}
[data-x]{
	transform: translateY(0);
	transition: all .5s;
	
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.topNavBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    color: #b7b7b7;
    padding: 20px 0;
}
.topNavBar.sticking{
	background:#fff;
	padding:15px 0;
	color:black;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	z-index: 1
}

.topNavBar-inner{
	padding: 0 20px ;
}
.topNavBar-inner .logo {
	cursor: pointer;
	float: left;
}
.topNavBar-inner .logo .rs{
	margin-right:5px;
	font-size: 24px;
	font-family: "Arial Black";
	color: #e6686a;
}
.topNavBar-inner .logo .card{
	font-size: 24px;
	font-family: "Arial Black";
	color: #9a9da2;
}
.topNavBar-inner .menu {
	float: right;
}
.topNavBar-inner .menu li{
	position: relative;
	float: left;
	margin:0 17px;
}
.topNavBar-inner  li.active > ul{
	display: block;
	animation: submenuSlide 0.3s;
}
@keyframes submenuSlide{
	0%{margin-right:100%;}
	100%{margin-right:0;}
}
.topNavBar-inner .menu  a{
	padding:5px 0;
	font-size: 12px;
	color: #b7b7b7;
	font-weight: bold;
	color: inherit;
}
.menu > ul{
	margin-top: 5px;
}
.menu a:hover::after,.highlight a::after{
	content: '';
	display: block;
	background: #e06567;
	height: 2px;
	border-radius: 20%;
	animation: menuSlide 0.3s;
}
@keyframes menuSlide{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}

.topNavBar .submenu{
	display: none;
	position: absolute;
	white-space: nowrap;
	top:15px;
	right: 0;
	transition: all 1s;
	padding-top: 5px;
}

.topNavBar  .submenu  li{
	margin: 0;
	padding: 5px 0;
}
.banner{
	height: 515px;
	background: url(../img/rs-cover.jpg);
	background-position: center center;
    background-size: cover;
}
.banner .mask{
	height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
main {
	margin-top: -340px;
}
.userCard{
	max-width: 940px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);

}
.pictureAndText{
	padding:50px;
}
.pictureAndText .picture{
	float: left;
}
.userCard img{
	width: 300px;
	height: 350px;
}
.userCard .text{
	float: left;
	margin-left: 65px;
	width: 470px;
}
.userCard dd,.userCard dt{
	float: left;
	padding: 5px 0;
}
.userCard dd{
	width: 70%;
	color: #9da0a7;
}
.userCard dt{
	width: 30%;
	font-weight: bold;
}
.userCard .welcome{
	color: #fff;
	line-height: 22px;
	background:#e6686a;
	padding: 4px 16px;
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}
.userCard .triggle{
	margin-left: 5px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left:  10px solid #e6686a;
	border-top-width: 0;
	display: block;
	position: absolute;
	top:100%;
}
.userCard h1{
	margin-top: 18px;
	font-weight: normal;
}
.userCard hr{
	margin:20px 0;
}
.userCard .media{
	background: #e6686a;
	text-align: center;
	
}
.userCard .media > a{
	display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.userCard .media > a:hover{
	background: #c25456;
}
.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.downloadResume,.selfIntroduce{
	text-align: center;
}	
.downloadResume a{
	border: 1px solid #cdcfd1;
	display: inline-block;
	margin: 32px 0;
	background: #efefef;
	padding: 21px 50px;
	color: #3d4451;
	font-weight: bold;
	transition: all 0.3s;
}
.downloadResume a:hover{
	box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.selfIntroduce{
	max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}
.skills{
	max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.skills h2,.portfolio h2{
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
	color: #3d4451;
}
.skills ol{
	background:#fff;
	padding: 50px 50px 20px 50px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.skills li{
	float: left;
	display: inline-block;
	white-space:nowrap; 
	width: 48%;
}
.skills li:nth-child(even){
	float: right;
}
.skills .progressBar{
	height: 5px;
	margin: 5px 0 40px;
	background: #fae1e1;
	overflow: hidden;
}
.skills .progress{
	background: #e6686a;
	width: 50%;
	height: 5px;
	border-radius: 5px;
	transform: translateX(0);
	transition: all .5s;
}
.skills.offset .progress{
	transform: translateX(-100%);

}
.portfolio{
	max-width: 940px;
  	margin: auto;
    margin-top: 60px;
    text-align: center;
}
.portfolio nav{
	text-align: center;
	display: inline-block;

}
.portfolio ol{
	display: inline-block;
}
.portfolio li{
	cursor: pointer;
	float: left;
	margin-left: 20px;
}
.portfolio li:nth-child(1){
	margin-left: 0px;
}
.work{
	max-width: 940px;
  	margin: auto;
    margin-top: 60px;
    height: 500px;
    background: #eee;
}
.portfolio .portfolioBar{
	height: 5px;
	background:#fdfdfd;
    border-radius: 2px;
}
.barInner{
	background: #E6686A;
	border-radius: 2px;
    height: 100%;
    width: 100%;
	transition: all 0.3s;
}
.portfolioBar.state-0 .barInner{
	margin-left: 0;
    width: 35px;
}
.portfolioBar.state-1 .barInner{
	margin-left: 50px;
    width: 37px;
}
.portfolioBar.state-2 .barInner{
	margin-left:105px;
    width: 92px;
}
.work {
	position: relative;
}
.work .big{
	position: absolute;
	top:0;
	left: 0;
}
.work .small{
	position: absolute;
	top:0;
	right: 0;
}
.work :nth-child(2){
	position: absolute;
	top:312px;
	right: 0;
}
